EXPRESS_PORT=3001
VITE_API_URL=http://localhost:3001
ANTHROPIC_API_KEY=sk-ant-api-REPLACE

# uncomment these for Laminar tracing
# LMNR_PROJECT_API_KEY=replace
# LMNR_BASE_URL=http://localhost
# LMNR_HTTP_PORT=8000
# LMNR_GRPC_PORT=8001
